.rent-page {
    
    width: 100%;
    display: flex;
}

.rent-scooter{
    width: 40%;
    float: left;
    margin-left: 80px;
}

.maps{
    margin-top: 70px;
    float: right;
    justify-content: space-between;

}

