.header {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-image: url('https://i.ibb.co/PW809MG/Design-sem-nome-1.png');
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 100px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size:x-large;
      
      .option {
        padding: 10px 15px;
        cursor: pointer;
        color: snow;
      }
    }
  }