.rent-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color:snow;
    font-size:xx-large;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
      width: 1500px;
      
    }
  }
  