.rent-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color:snow;
    font-size:xx-large;
  
    .steps{
      font-size: 28px;
      display: flex;
      width: 100%;
      margin-top: 100px;
      color: red;
    }
    .steps1{
      font-size: 28px;
      display: flex;
      width: 100%;
      margin-top: 10px;
      color: red;
    }
    .steps2{
      font-size: 28px;
      display: flex;
      width: 100%;
      margin-top: 10px;
      color: red;
    }

    .title {
      margin-left: 50px;
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
      
      
    }
    @media screen and (max-width: 2150px) {
      .preview {
        margin-left: 100px;
      }
    }
  }
  